{% extends 'base.html' %}

{% block content %}
<section class="sobre">
    <h1>Sobre o Projeto</h1>
    <p> Splash Blue foi criado com a finalidade de atendernasce com o propósito de conscientizar sobre a importância da água, 
        recurso essencial à vida. Oferecemos uma ferramenta simples e acessível para que cada cidadão 
        possa acompanhar seu consumo diário e adotar práticas mais sustentáveis, contribuindo para um futuro mais 
        equilibrado e responsável, este site foi desenvolvido especialmente para atender clientes e parceiros do ramo imobiliário, proporcionando uma ferramenta eficiente de controle do consumo de água. Com ela, as empresas podem oferecer aos seus clientes uma solução prática e consciente para 
        monitorar o uso de água, promovendo a sustentabilidade e a gestão responsável dos recursos</p>
</section>
{% endblock %}
